@media(max-width:1034px) {
   .header__burger {
      display: flex;

   }

   .header__navigation {
      width: auto;
   }

   .header__menu {
      display: none;
   }

   #header__ckeckbox:checked~.header__menu {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #000;
      opacity: .9;
      height: 100%;
      z-index: 100;
      padding: 40px 0 0 60px;
      width: 300px;
   }

   .header__list {
      margin-bottom: 30px;
   }

   .header__link {
      color: #fff;
      font-size: 22px;
   }

   .header__basket::before {
      display: none;
   }

   .header__basket::after {
      font-family: fontawesome;
      content: '\f07a';
      font-size: 16px;
      color: #fff;
      margin-left: 10px;
   }
}

@media(max-width:1024px) {

   .information__item:first-child {
      max-width: 600px;
      padding-right: 30px;
   }

   .information__title {
      font-size: 36px;
      line-height: 40px;
      margin-bottom: 25px;
   }

   .information__description {
      margin-bottom: 35px;
   }
}

@media(max-width:768px) {
   .cards__item {
      flex: 0 1 100%;
      align-items: center;
      text-align: center;
   }

   .cards__wrapper {
      max-width: 300px;
      border-radius: 10px;
      box-shadow: 1px 0px 15px #000;
      padding-bottom: 30px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .cards__item:not(:last-child) {
      margin-bottom: 50px;
   }

   .information__content {
      flex-wrap: wrap;
      justify-content: center;
   }

   .information__item:first-child {
      margin-bottom: 50px;
   }

   .logo__icon:not(:last-child)::after {
      display: none;
   }

   .logo__icon {
      flex: 0 1 50%;
   }

   .frame__items {
      position: static;
      transform: translateY(0);
      margin: 0 auto;
      background-color: #eee;
      margin-top: 50px;
      border-radius: 10px;
      box-shadow: 1px 3px 10px #000;
   }

   .footer__content {
      flex-wrap: wrap-reverse;
   }

   .footer__text {
      margin-bottom: 30px;
      flex: 0 1 auto;
      text-align: center;
   }

   .footer__icon {
      width: 50px;
      height: 50px;
   }

   .footer {
      padding: 50px 0;
   }
}

@media(max-width:425px) {
   .header__row {
      padding-top: 20px;
   }

   #header__ckeckbox:checked~.header__menu {
      width: 50%;
      padding-left: 10%;
   }

   .header__link-button {
      padding: 20px;
   }

   .logo__icon {
      flex: 0 1 100%;
   }

   .logo__icon:not(:last-child) {
      margin-bottom: 50px;
   }
}

@media(max-width:425px) {
   .information__title {
      font-size: 28px;
      line-height: 30px;
   }

   .information__list li {
      line-height: 24px;
   }

   .information__list li:not(:last-child) {
      margin-bottom: 25px;
   }

   #header__ckeckbox:checked~.header__menu {
      padding-left: 35px 0;
   }

   .cards,
   .information__content {
      padding: 50px 0;
   }

   .information__item:first-child {
      padding-right: 0;
   }

   .information__subtitle {
      text-align: center;
   }

   .logo {
      padding: 50px 0 0 0;
      margin-bottom: 50px;
   }

   .footer {
      padding-bottom: 30px;
   }
}

@media(max-width:375px) {
   .container {
      width: 80%;
   }



   #header__ckeckbox:checked~.header__menu {
      padding-top: 30px;
   }

   .header__title {
      font-size: 48px;
   }

   .header__link {
      font-size: 18px;
   }

   .header__list {
      margin-bottom: 20px;
   }

   .cards__image img {
      max-width: 260px;
   }

   .information__title {
      font-size: 21px;
   }

   .information__description {
      font-size: 14px;
   }

   .information__image img {
      max-width: 280px;
      margin: 0 auto 20px auto;
      display: block;
   }

   .information__subtitle {
      font-size: 14px;
   }

   .information__statistics-number {
      font-size: 36px;
      justify-self: center;
   }

   .information__statistics-text {
      font-size: 13px;
      justify-self: center;
   }

   .frame__items {
      align-items: center;
      padding-left: 0;
      max-width: 280px;
   }

   .footer__title {
      font-size: 21px;
      line-height: 22px;
   }

   .footer__subtitle {
      font-size: 15px;
   }
}